amqp==2.3.2
billiard==3.5.0.4
blessings==1.7
bpython==0.17.1
celery==4.2.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
curtsies==0.3.0
Django==2.0
django-celery-results==1.0.1
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
django-model-changes-py3==0.15.1
django-oauth-toolkit==1.2.0
djangorestframework==3.8.2
dnspython==1.15.0
ephem==3.7.6.0
et-xmlfile==1.0.1
eventlet==0.24.1
greenlet==0.4.15
idna==2.7
inflection==0.3.1
jdcal==1.4
kombu==4.2.1
lunardate==0.1.5
monotonic==1.5
numpy==1.15.1
oauthlib==2.1.0
openpyxl==2.5.8
pandas==0.23.4
pika==0.12.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
pyCalverter==1.6.1
pycparser==2.19
Pygments==2.2.0
python-dateutil==2.7.3
python-memcached==1.59
pytz==2018.5
rabbitmq==0.2.0
requests==2.19.1
six==1.11.0
typing==3.6.6
urllib3==1.23
vine==1.1.4
wcwidth==0.1.7
workalendar==2.6.0
xlrd==1.1.0
XlsxWriter==1.1.1
